body {
  background-color: rgba(39, 53, 75, 0.28);
  padding-top: 90px;
  padding-bottom: 75px;
}

#header {
  background-color: #5B7D9B;
}

#footer {
  width: 100%;
  background-color: #5B7D9B;
}

.toggler {
  padding: 20px 20%;
}

.contentType {
  display: none;
}

#game {
  display: none;
  margin: 0 5% 0 5%;
  width: 90%;
  height: 500px;
  padding: 25px 0 25px 5%;
}

#canvas {
  width: 100%;
  height: 450px;
  margin: auto;
  background-color: #999;
}

.game-stuff {
  width: 30%;
  text-align: center;
  float: right;
}

.map-sizes {
  margin: 20px 50px;
}

.btn {
  background-color: #999;
}


#high-scores {
  display: none;
  margin: 0 5% 0 5%;
  padding: 20px;
  width: 90%;
  height: 500px;
}

#credits {
  display: none;
  margin: 0 5% 0 5%;
  text-align: center;
  padding: 50px 0;
  width: 90%;
  height: 500px;
}

.centered {
  text-align: center;
  margin: 0 0 60px 0;
}

.selected {
  background-color: #d48d4f;
  font-weight: 900;
}

#game-details {
  display: none;
}

li {
  text-align: center;
  font-size: 24px;
}

ul {
  list-style-type: none;
}